{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">Register</h1>
            
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-warning">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
    </div>
</div>

{% endblock %}
